</div>
<!-- /.container -->

<!-- Footer -->
<!-- <footer class="py-5 bg-dark footer navbar-fixed-bottom"> -->
<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; SorryGif 2018</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="javascripts/bootstrap.bundle.min.js"></script>

</body>

</html>