<%- include("./header.ejs") %>
  <script src="javascripts/jquery.lazyload.min"></script>

  <h1 class="my-4 text-center text-lg-left">
    <a href="https://github.com/SnailDev/SnailDev.GifMaker" target="_blank" style="margin-right:6px" title="网站源代码">
      <img src="https://sorry.xuty.tk/image/mark-github-512.png" width="24">
    </a>
    <a href="http://www.dashangcloud.com/sh/879dfe" target="_blank" style="margin-right:6px" title="请站长喝杯咖啡">
      <img src="http://www.dashangcloud.com/static/ds-logo-1.2-64.png" width="24">
    </a>
    <!-- <%= title %>  -->
  </h1>

  <div class="row text-center text-lg-left">

    <% data.forEach(function(item,index){%>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="javascript:void(0);" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" data-original="https://gifmaker.develophelper.com/cache/<%= item.filename %>" alt="点击加载">
        </a>
      </div>
      <% }) %>
        <script>
          $('.img-thumbnail').lazyload({
            event:'click',
            placeholder: '/images/loading.gif'
          });
        </script>
  </div>

  <%- include("./footer.ejs") %>